.traffic-light{
    width: 100px;
    height: 100px;
    background-color: black;
}
.animation{
    width:100%;
text-align: center;
}

.middle {
  /*
  position: absolute;
  
  left: 50%;
  margin: -100px 0 0 -150px;
  */
  width: 90%;
  position: relative;
  
  left: 40%;
  display: block;

}