<div class="container">
    <div class="top">
      <h1>{{title}}</h1>
      <img id="angImg" src="../../public/images/angular.png">
    </div>
</div>
<div class="container">
      <div class="middle">
        <nav>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/rxJsExamples" routerLinkActive="active">Observables in Action</a>
            <a routerLink="/animation" routerLinkActive="active">Animation</a>
            <a routerLink="/wikisearch" routerLinkActive="active">Wikipedia Search</a>
            <a routerLink="/allItems" routerLinkActive="active">....(Ng2 Module)</a>
          </nav>
                      <router-outlet></router-outlet>
      </div>

</div>
